<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<title>Add Profile</title>
<body>
    <div class="contact">
        <div class="contain">
            <h1>-Mail-To v2.0-</h1>
        <form action="" method="POST" enctype="multipart/form-data">
        <input name="action" value="submit" type="hidden"> Fr:<br>
        <input name="FirstName" size="50" type="text"><br> First Name<br>
        <input name="LastName" size="50" type="text"><br> Last Name<br>
        <input name="Gender" size="50" type="text"><br> Gender<br>
        <input name="email" size="50" type="text"><br> Mail<br>
        <input name="Location" size="50" type="text"><br> Location<br>
        <input name="Bio" size="50" type="text"><br> Biography<br>
        <textarea name="message" rows="10" cols="50">
        </textarea><br>
        <input class="button" value="Send" type="submit">
        </form>
        </div>
    </div>
    <div class="foot"></div>

</body>

</html>